body {
    background-color: darkgoldenrod;
    text-align: center;
    font-family: "Lucida Handwriting", "Apple Chancery", cursive;
    color: darkcyan;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

